
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8.select-8 {
}


.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.button-8 {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.button-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.klipse-snippet-wrapper {
  margin-top: 5px;
  margin-bottom: 15px;
}

.removeBtn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.authoring  *{
  font-size: 24px;
}

.authoring {
  padding: 15px 0px 15px 0px;
}

a:link {
  padding-left: 10px;
  color: #39739d;
  text-decoration: none;
}

a:visited {
  padding-left: 10px;
  color: #39739d;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.reset {
  clear: both;
}

